#editDiv {
    text-align: center;
    background-color: gray;
    position: fixed;
    top: 0;
    margin-top: 200px;
    margin-left: 560px;
    width: 350px;
    border: 3px solid blue;
  }

  #titleEdit{
      margin-top: 1em;
  }

  #editDiv button{
      margin: 5px;
  }